table td {
  padding: 1px;
}

table th#authors {

}

table th#title {
}

table th#links {
  width: 64px;
  height: 0;
}

table td.links span {
  width: 20px;
  display: table-cell;
}

table th#year {
}

span.arxiv-year {
  font-style: italic;
}
